@charset "UTF-8";
@import "sass-base.scss";

.inputs{
	border:1px solid #d1d1d1;
	width:154px;
	height:36px;
	line-height:36px;
	text-indent:5px;
	@include css3(border-radius,5px);
}

.min-btn1{
	display:inline-block;
	width:97px;
	height:36px;
	line-height:36px;
	@include tac;
	@include f(14);
	color:#676767;
	border:1px solid #d7d7d7;
	background-color:#fff;
	@include css3(border-radius,5px);
}
.min-btn2{
	display:inline-block;
	width:97px;
	height:36px;
	line-height:36px;
	@include tac;
	@include f(14);
	color:#fff;
	border:1px solid #147ed8;
	background-color:#147ed8;
	@include css3(border-radius,3px);
}
.min-btn3{
	display:inline-block;
	width:97px;
	height:36px;
	line-height:36px;
	@include tac;
	@include f(14);
	color:#fff;
	border:1px solid #4e4769;
	background-color:#4e4769;
	@include css3(border-radius,3px);
}

.head-mian{
	height:344px;
	@include tac;
	@include rel;
}
.ad-img{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	@include tac;
	z-index:1;
}

.head-top{
	@include rel;
	height:53px;
	z-index:10;
}
.logo-main{
	@include fl;
	margin-top:15px;
}
.head-menu{ 
	@include fr;
	.menu-list{
		@include rel;
		display:inline-block;
		height:50px;
		line-height:50px;
		padding:0 10px;
		color:#fff;
		margin-left:46px;
		&:hover{
			color:#fff;
			text-decoration: none;
			border-bottom:3px solid #147ed8;
		}

		a{
			color:#fff;
		}
	}
	.head-cur,.head-hover{
		color:#fff;
		text-decoration: none;
		border-bottom:3px solid #147ed8;
	}
	.head-hover{
		.menu-div{
			display:block;
		}
	}
}

.menu-div{
	display:none;
	@include abs();
	left:0;
	top:54px;
	width:136px;
	@include tar;
	
	.menu-info{
		border-bottom:2px solid #539ee1;
		padding:16px 11px; 
		background-color:#147ed8;
		p{
			line-height:20px;
		}
		.menu-one{
			@include f(14);
		}
		.menu-two{
			@include f(12);
		}
		a{color:#fff;}
		.menu-three{
			@include f(14);
			line-height:40px;
		}
	}
	.menu-infoHover{
		background-color:#0a61aa;
	}
	.menu-infoEnd{
		border:none;
	}
}

.pro-btns{
	padding:33px 0 ;
	@include tac;
	a{
		display:inline-block;
		width:388px;
		height:75px;
		line-height:75px;
		@include tac;
		@include f(30);
		font-weight: bold;
	}
	.pro-tigao{
		color:#157ed8;
		background:url(../img/ico-tigong.jpg) no-repeat 0 0;
		margin-right:60px;
	}
	.pro-tigao.pro-tabCur,.pro-tigao:hover{
		color:#fff;
		background:url(../img/ico-tigongCur.jpg) no-repeat 0 0;
	}
	.pro-dedao{
		color:#474063;
		background:url(../img/ico-dedao.jpg) no-repeat 0 0;
	}
	.pro-dedao.pro-tabCur,.pro-dedao:hover{
		background:url(../img/ico-dedaoCur.jpg) no-repeat 0 0;
		color:#fff;
	}
}
.help-main{
	
}

.help-lists{
	display:none;
}
.pro-help{
	background-color:#fff;
	margin-bottom:32px;
	&.purple-help{
		.pro-hTitle{
			background-color:#4e4769;
		}
	}
}
.pro-hTitle{
	@include h(42);
	line-height:45px;
	padding-left:42px;
	background-color:#147ed8;
	@include f(20);
	color: #fff;
}
.pro-hInfo{
	padding:20px 46px;
	height:270px;
}
.pro-hMinTip{
	@include f(16);
	color:#147ed8;
	line-height:22px;
	margin-bottom:20px;
}
.pro-hUl{
	li{
		 margin-bottom:14px;
	}	
	.pro-hUleft{
		@include fl;
		@include whlfc(140px,38px,38px,18,#000);
	}
	.pro-hUlright{
		margin-left:140px;
		line-height:38px;
	}


}

.pay-label{
	margin-right:30px;
	input{
		margin-right:3px;
		vertical-align:middle;
	}
}


.project-lists{
	@include h(140px);
	border:1px solid #b1b1b1;
	background-color:#fff;
	margin-bottom:40px;
	.project-title{
		@include rel;
		@include hl(40px,40px);
		@include f(14);
		color: #fff;
		background-color:#147ed8;
		padding-left:50px;
		span{
			display:inline-block;
			vertical-align: middle;
		}
		
	}
	.ico-round{
		@include abs((top:10px,left:17px));
		@include whlfc(22px,22px,22px,14,#147ed8);
		@include tac;
		background:url(../img/ico-round.png) no-repeat 0 0;
	}

	&.purple-lists{
		.project-title{
			background-color:#4e4769;
		}
		.ico-round{
			@include c(#4e4769);
		}
	}

}
.pipei-btn{
	color:#fff;
	background-color:#21cc5c;
	@include css3(border-radius,5px);
	border: none;
	padding:0 10px;
	vertical-align: middle;   
}
.pro-tableMain{
	padding:20px 26px;
}
.pro-table{
	@include tal;
	th{
		@include flc(14,23px,#8f8f8f);
	}
	td{
		@include f(18);
	}
}

.min-btn{
	display:inline-block;
	@include whlfc(77px,24px,24px,12,#3489db);
	@include tac;
	background:url(../img/ico-minBox.jpg) no-repeat 0 0;
	margin-right:4px;
	&a{
		@include c(#3489db);
	}
}

.page{
	@include tar;
	a{
		display:inline-block;
		width:25px;
		height:25px;
		line-height:25px;
		color:#adb6c3;
		@include tac;
		vertical-align: middle;
		&:hover{
			background-color:#1b89eb;
			color:#fff;
		}
	}
	.page-total{
		margin-left:15px;
		font-weight: bold;
	}
	a.page-next,span.page-next{
		display:inline-block;
		vertical-align: middle;
		width:25px;
		height:25px;
		background:url(../img/ico-jiao.jpg) #f2f2f2 no-repeat center center;
	}
}

.tran-main{
	background-color:#fff;
	margin-bottom:15px;
	.tran-h2{
		height:40px;
		line-height:40px;
		color:#313131;
		@include f(14);
		padding-left:22px;
		color:#147ed8;
		background-color:#313131;
	}
	.tran-top{
		padding:12px 12px;
	}
	.tran-bottom{
		border-top:1px solid #f4f4f4;
		height:42px;
		padding:0 12px 10px;
		@include tar;
	}
	.tran-infoM{
		//margin-bottom:25px;
	}
	.tran-left{
		@include fl;
		@include whlfc(166px,28px,28px,12,#9b9b9b);
		span{
			display:inline-block;
			vertical-align: middle;
		}
	}
	.tran-right{
		width:810px;
		margin-left:166px;
		height:52px;
		@include tal;
	}
}

.ico-minBtn{
	display:inline-block;
	width:63px;
	height:27px;
	line-height:27px;
	@include tac;
	color:#3bb1e4;
	@include f(12);
	background:url(../img/ico-miniBtn.jpg) no-repeat 0 0;
}

.tran-text{
	color:#6f6f6f;
	@include f(12);
	line-height:24px;
	span{
		vertical-align: middle;
	}
}

.tran-input{
	display:block;
	width:804px;
	height:24px;
	line-height:24px;
	border:1px solid #d3d3d3;
	@include css3(border-radius,3px);
	text-indent:10px;
}
.tran-input2{
	@include fl;
	width:92%;
	*width:722px;
	vertical-align: middle;
	@include css3(border-bottom-right-radius,0);
	@include css3(border-top-right-radius,0);
	border-right:none;
}
.tran-jiacha{
	@include fl;
	color: #fff;
	height:28px;
    background-color: #56bfdf;
    border-color: #357ebd;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 14px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


.my-teamTable{
	th{
		background-color:#147ed8;
		color:#fff;
		@include f(14);
		@include tac;
		height:42px;
		line-height:42px;
		border-right:1px solid #fff;
	}
	td{
		height:30px;
		@include tac;
		vertical-align: middle;
		border:1px solid #cdcdcd;
	}
	.teamThEnd{
		border-right:none;
	}
}

.my-teamMain{
	margin-bottom:15px;
	background-color:#fff;
	.my-teamH2{
		height: 40px;
		line-height:40px;
		@include f(14);
		color: #147ed8;
		padding-left:22px;
		background-color:#313131;
	}
	.my-teamInfo{
		padding:28px 22px;
	}
}

.news-main{
	.news-h5{
		font-size: 12px;
		line-height:30px;
    	a{
    		color: #428bca;
    		text-decoration: none;
    	}
	}
	.news-time{
		font-size: 12px;
		color: #999;
		line-height:24px;
	}
	.news-txt{
		font-size: 12px;
		margin: 0 0 10px;
		line-height:30px;
	}
}

.ico-minBackBtn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #838A96;
    background: #fff;
    color: #7c7c7c;
}

.acc-main{
	.tran-main{
		width:100%;
	}
	.tran-right{
		width:288px;
	}
	.tran-input{
		width:280px;
	}
}
.acc-left{
	@include fl;
	width:480px;
}
.acc-right{
	@include fr;
	width:480px;
}
.news-page{
	@include fr;
	margin:15px 10px 0 0;
	color:#7b7d7c;
	@include f(14);
}


/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
// *iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
// 	width: expression(this.parentNode.offsetWidth+'px');
// 	height: expression(this.parentNode.offsetHeight+'px');
// }
//*html .jqmOverlay{display:none;}
/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
// *html .jqmWindow {
//      position: absolute;
//      top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
// }
.jqmOverlay {background-color: #000;}
.jqmWindow {margin-left: -265px; width: 530px; display: none; left: 50%; position: fixed; top:17%;}

.bomb-prompt{
	padding:22px;
	background-color: #fff;
    //border: 1px solid #858585;
    color: #333333;
    display: none;
    left: 50%;
    margin-left: -325px;
    position: fixed;
    top: 17%;
    width:650px;
    .bomb-colse{
    	@include abs;
    	top:20px;
    	right:20px;
    	@include wh(18px,18px);
    	background:url(../img/colse.jpg) no-repeat 0 0;
    }
    .bomb-h2{
    	@include f(18);
    	font-weight: bold;
    }
    .bomb-risk{
		line-height:26px;
		@include f(14);
		color:#707070;
    }
    .em2{
	   text-indent: 2em;
    }
}
.bomb-prompt1{
	width:472px;
	margin-left:-236px;
	.reg-content{
		width:100%;
		margin:20px auto 0;
		.reg-inleft{
			width:97px;
		}
		.reg-inright {
			margin-left:112px;
		}
		.reg-input{
			width:92%;
		}
		.form-control{
			width:275px;
		}

	}
}
.blue-btn{
	display:inline-block;
	width:205px;
	height:42px;
	line-height:42px;
	@include tac;
	@include css3(border-radius,5px);
	color: #fff;
	background-color:#1f99fc;
}

.blue-minBtn{
	display:inline-block;
	width:112px;
	height:35px;
	line-height:35px;
	@include tac;
	//@include css3(border-radius,5px);
	color: #fff;
	background-color:#3f89c8;
}

.leave-bomb{
	padding:0;
	.bomb-h2{
		@include h(54px);
		line-height:54px;
		background-color:#313131;
		@include f(14);
		color:#fff;
		text-indent:12px;
	}
	.bomb-iframe{
		padding:22px 10px;
		height:300px;
		line-height:25px;
		font-size:14px;
		overflow-y: auto;
		textarea{
			width:100%;
		}
	}
	.bomb-iframeBtns{
		height:43px;
		padding-top:16px; 
		padding-right:20px;
		border-top:1px solid #e9e9e9;
		@include tar;
	}
}

.iframe-message{


}

.iframe-h2{
	font-size:14px;
}
.iframe-caveat{
	font-weight: bold;
    color: red;
    margin-bottom:10px;
}
.iframe-textareaMain{
	margin-bottom:10px;
}

.detail-table1{
	td{
		border:1px solid #999;
	}
	th{
		@include tal;
	}
	margin:10px 0;
}
.detail-tr1{
	td{
		background-color:#fbdaae;
	}
}

.detail-tr2{
	td{
		background-color:#afd9ff;
	}
}
.detail-table2{
	border:1px solid #999;
	@include tac;
	td{
		border-right:1px solid #999;
	}
}

.detail-tr3{
	td{
		background-color:#ccc;
	}
}



