@charset "UTF-8";
/* 清楚标签默认样式 */
html {
  font-family: "Microsoft YaHei UI","Microsoft YaHei",sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, div, object, iframe, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, progress {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

li {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: top; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  line-height: normal; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* 默认浮动 */
.fl {
  float: left; }

.fr {
  float: right; }

.fn-clear {
  *zoom: 1; }
  .fn-clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden; }

/* 显示隐藏 */
.hide {
  display: none !important; }

.show {
  display: block !important; }

/* 文本方向 */
.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

/* 截取 */
.over {
  overflow: hidden; }

.ofv {
  overflow: visible !important; }

/* 定位 */
.abs {
  position: absolute; }

.rel {
  position: relative; }

/* 鼠标手势 */
.cursor {
  cursor: pointer; }

.def {
  cursor: default; }

/* 。。。。 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* 强制折行 */
.break-word {
  word-break: break-all;
  /*支持IE，chrome，FF不支持*/
  　word-wrap: break-word;
  /*支持IE，chrome，FF*/ }

/* 默认颜色 */
.colr-red {
  color: #f31313; }

.colr-blue {
  color: #147ed8; }

.colr-gray {
  color: #676767; }

.colr-yellow {
  color: #fff000; }

.colr-org {
  color: #f60; }

/* 默认背景颜色 */
.bg-red {
  background-color: #f31313; }

.bg-blue {
  background-color: #147ed8; }

.bg-gray {
  background-color: #676767; }

.bg-yellow {
  background-color: #fff000; }

.bg-org {
  background-color: #f60; }

/* 默认置灰 */
.disabled {
  background-color: #ccc; }

/* 默认字体 */
.f-12 {
  font-size: 12px; }

.f-14 {
  font-size: 14px; }

.f-16 {
  font-size: 16px; }

.f-18 {
  font-size: 18px; }

.f-20 {
  font-size: 20px; }

.f-22 {
  font-size: 22px; }

.f-24 {
  font-size: 24px; }

.f-26 {
  font-size: 26px; }

.f-28 {
  font-size: 28px; }

.f-30 {
  font-size: 30px; }

.f-32 {
  font-size: 32px; }

/* margin  padding */
.mt0 {
  margin-top: 0 !important; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mb0 {
  margin-bottom: 0 !important; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.ml0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-30 {
  margin-left: 30px; }

.mr0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

/* 高度 */
.blk-5 {
  height: 5px; }

.blk-10 {
  height: 10px; }

.blk-15 {
  height: 15px; }

.blk-20 {
  height: 20px; }

.blk-25 {
  height: 25px; }

.blk-30 {
  height: 30px; }

.blk-35 {
  height: 35px; }

.blk-40 {
  height: 40px; }

.blk-45 {
  height: 45px; }

.blk-50 {
  height: 50px; }

/* 边框 */
.bor-t {
  border-top: solid 1px #ccc; }

.bor-l {
  border-left: solid 1px #ccc; }

.bor-r {
  border-right: solid 1px #ccc; }

.bor-b {
  border-bottom: solid 1px #ccc; }

.bor-t0 {
  border-top: none !important; }

.bor-l0 {
  border-left: none !important; }

.bor-r0 {
  border-right: none !important; }

.bor-b0 {
  border-bottom: none !important; }

.bor-das {
  border: 1px dashed #ccc; }

.bor-dot {
  border: 1px dotted #ccc; }

.border {
  border: 1px solid #ccc; }

/* box */
.content {
  width: 1000px;
  margin: 0 auto; }
